# Core package installation
easy_install
pip  # see installed as pip3
setuptools
wheel  # This avoids falling back to legacy option. See installed as wheel3.

# Formatting and linting tools
# These help VS Code when there is no virtual environment.
autopep8
black
isort
mypy
pylint

# IPython
ipython
ipykernel  # For Jupyter Notebooks in VS Code.

# Other
mkdocs
toml
PyYAML
